@media(max-width:768px){
  #slidemenu{
    display: none;
  }
  .navbar-toggle{
    margin-right: 2em !important; 
  }
}
header{

        position: absolute;
        background: none;
        box-shadow: none;
        background-color: transparent !important;
        height: 60px;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9996;
        box-sizing: border-box;
        color: #202020;
        font-weight: normal;
        font-size: 15px;
        line-height: 1.42857143;
        #slide-nav{
            position: relative;
            float: right;
            right: 0;
            top: 0;
            margin-right: 10px;
            background-color: transparent;
            border-color: transparent;
            width: auto;
            z-index: 999998;
            font-size: 15px;
            font-family: 'Capriola', sans-serif;
            min-height: 50px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            min-height: 50px;
           margin-bottom: 20px;
           border: 1px solid transparent;
            @media (min-width: 768px){
                border-radius: 4px;
            }
            @media (min-width: 768px){
                border-radius: 4px;
            }
            .container{
                width: 100%;
                padding: 0;
                margin-right: auto;
                margin-left: auto;
                .navbar-header{
                        position: relative;
                         color: #202020;
                        font-weight: normal;
                    @media (min-width: 768px){
                        margin-right: 0;
                        margin-left: 0;
                    }
                    @media (min-width: 768px){
                        left: 0!important;
                        float: left;
                    }
                  .navbar-toggle{
                    cursor: pointer;
                    position: relative;
                    line-height: 0;
                    float: left;
                    margin: 0;
                    width: 30px;
                    height: 40px;
                    padding: 10px 0 0 0;
                    border: 0;
                    background: transparent;
                    border-radius: 4px;
                    @media (min-width: 768px){
                        display: none;
                    }
                    :hover,:focus{
                          text-decoration: none;
                          color: rgb(38,163,135);
                      }
                    .sr-only{
                        position: absolute;
                        width: 1px;
                        height: 1px;
                        padding: 0;
                        margin: -1px;
                        overflow: hidden;
                        clip: rect(0, 0, 0, 0);
                        border: 0;
                        color: rgb(38,163,135);
                        line-height: 0;
                        cursor: pointer;
                    }
                    .icon-bar{
                            width: 100%;
                            display: block;
                            height: 2px;
                            margin: 6px 0 0 0;
                            background-color: #fff;
                            border-radius: 1px;
                            color: rgb(38,163,135);//////////////////////
                    }
                  }
                }
                #slidemenu{
                         max-height: 379px;
                         left: -300px;
                         color: #202020;
                         font-weight: normal;
                         .navbar-nav{
                          padding-left: 0;
                          list-style: none;
                          color: #202020;
                          font-weight: normal;
                            @media (min-width: 768px){
                                 float: right!important;
                                 margin-right: -15px;
                                 margin:0;
                             }
                             .dropdown{
                                    position: relative;
                                    display: block;
                                    transform:2s all ease;
                                    &:hover{
                                      background: #fff;
                                      border-top-left-radius: 25px!important;
                                      border-bottom-right-radius:25px!important;
                                    }
                                    &:hover {
                                        .dropdown-menu {
                                            visibility: visible;
                                            opacity: 1;
                                        }
                                        .dropdown-toggle{
                                          color: rgb(38,163,135);

                                        }
                                        .dropdown{
                                          
                                        }
                                    }
                                @media (min-width: 768px){
                                     float: left;
                                 }
                                 .dropdown-toggle{
                                        transition: all 1s;
                                        font-family: "Roboto";
                                        font-size: 16px;
                                       // text-shadow: 0 0 6px rgba(0,0,0,0.3);
                                        color: #fff;
                                        padding-top: 20px;
                                        padding-bottom: 20px;
                                        top: -1px;
                                        padding-left: 10px;
                                        padding-right: 10px;
                                        line-height: 20px;
                                        position: relative;
                                        display: block;
                                        background-color: transparent;
                                    b{
                                        margin-left: 5px;
                                         vertical-align: middle;
                                         border-top: 4px dashed;
                                         border-right: 4px solid transparent;
                                        border-left: 4px solid transparent;
                                        display: inline-block;
                                        width: 0;
                                        height: 0;
                                        font-weight: 700;
                                         text-shadow: 0 0 6px rgba(0,0,0,0.3);
                                         color: #fff;
                                         line-height: 20px;
                                    }
                                 }
                                 .dropdown-menu{
                                    top: 59px;
                                    border: 0;
                                    border-top-left-radius: 0 !important;
                                    border-top-right-radius: 0 !important;
                                    border-bottom-left-radius: 0;
                                    border-bottom-right-radius: 0;
                                    position: absolute;
                                    z-index: 1000;
                                    float: left;
                                    min-width: 160px;
                                    padding: 5px 0;
                                    margin: 2px 0 0;
                                    font-size: 14px;
                                    text-align: left;
                                    list-style: none;
                                    background-color: #fff;
                                    background-clip: padding-box;
                                    box-shadow: 0 6px 12px rgba(0,0,0,.175);
                                    border-top-left-radius:20px !important;
                                    border-bottom-right-radius:20px;
                                    @media (min-width: 768px){
                                        display: block;
                                        visibility: hidden;
                                        opacity: 0;
                                        right: 25px;
                                        transition: all 0.3s;
                                        left: auto;
                                    }
                                    li{
                                      display: list-item;
                                      font-size: 14px;
                                      :hover{
                                            color: rgb(38,163,135);
                                      }
                                        a{
                                            color: #404040;
                                            font-size: 15px;
                                            clear: both;
                                            font-weight: 400;
                                            line-height: 1.42857143;
                                           white-space: nowrap;
                                           :hover{
                                            text-decoration: none;
                                           }
                                       @media (min-width: 768px){
                                                  padding: 5px 20px;
                                                 background-color: transparent !important;
                                              }
                                        }
                                    }
                                 }
                             }
                         }
                }
            }
        }
        #navbar-height-col{
                left: -300px;
        }
        
}
// Video slider section begin
.hero-header{
          height: 791px;
          padding: 0;
          z-index: 0;
          background-color: transparent !important;
          position: relative;
  .hero-video{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    iframe{
           width: 1588px;
           height: 895.437px;
           position: absolute;
           bottom: 50%;
           left: 50%;
           z-index: -2;
           transform: translate(-50%, 50%);
           border-top-width: 0px;
           border-right-width: 0px;
           border-bottom-width: 0px;
           border-left-width: 0px;
    }
  }
}
// video slider section end
.hero-search{
    left: 15%;
    top: 20em;
    position: absolute;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px 0 5px;
    height: 78px;
    text-align: center;
    z-index: 10;
    box-shadow: -8px -8px 0px rgb(38,163,135), 0 0 30px rgba(0,0,0,0.15);
    white-space: normal;
    font-size: 14px;
     form{
          position: relative;
          text-align: center;
          white-space: nowrap;
          display: table;
          width: 100%;
      fieldset{
            min-width: 0;
            padding: 0;
            margin: 0;
            border: 0;
            text-align: center;
            white-space: nowrap;
        input{
          padding-left: 10px;
          height: 50px;
          border: 0.5px solid #3ED0A9;
          position: relative;
          color: rgb(38,163,135);
          font-size: 18px;
          letter-spacing: 1px;
          z-index: 1;
          background: transparent;
          box-shadow: none;
          display: block;
          width: 100%;
          padding: 6px 12px;
          border-radius: 4px;
          transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
          margin: 0;
          word-spacing: normal;
          text-transform: none;
          text-indent: 0px;
          text-shadow: none;
          white-space: nowrap;
        }
        span{
          float: left;
          top: -52px;
          left: 0;
          z-index: 0;
          font-weight: normal;
          text-align: left;
          padding-top: 17px;
          padding-left: 58px;
          padding-left: 10px;
          height: 50px;
          border: 0;
          position: relative;
          color: rgb(38,163,135);
          font-size: 18px;
          letter-spacing: 1px;
           background: transparent;
           box-shadow: none;
        }
      }
      .search-cities-toggle{
            transition: all 200ms ease-in;
            position: absolute;
            top: 0;
            margin-top: -59px;
            right: -8px;
            background: rgb(38,163,135);
            color: #fff;
            width: 56px;
            height: 44px;
            text-align: center;
            padding-top: 6px;
            border-radius: 6px 6px 0 0;
            cursor: pointer;
            font-size: 26px;
            box-shadow: 0px -20px 20px rgba(0,0,0,0.2) inset, 0 0 120px rgba(255,255,255,0.75);
           i{
            color:white;
           }
      }

      .search-submit{
        position: absolute;
        width: 50px;
        height: 100%;
        border: 0;
        text-align: right;
        top: 0;
        right: -5px;
        vertical-align: top;
        font-size: 18px;
        font-weight: 700;
        border-radius: 5px;
        z-index: 12;
        transition:all ease 0.5s;
              &:hover{
                transform:rotate(360deg)!important;
              }

        input{
              background-color: transparent;
              width: 100%;
              height: 100%;
              border: 0;
              padding-left: 10px;
              position: relative;
              color: rgb(38,163,135);
              font-size: 18px;
              letter-spacing: 1px;
              z-index: 1;
              background: transparent;
              box-shadow: none;
        }
        i{
              width: 100%;
              height: 100%;
              text-align: right;
              position: absolute;
              padding-top: 6px;
              padding-right: 12px;
              right: 0;
              color: rgb(38,163,135);
              font-size: 30px;
              cursor: pointer;
              font-style: normal;
              font-weight: normal;
        }
      }
     }
}
      .search-cities{
            top: 0px;
            max-height: 363px;
            z-index: 30;
            background: rgba(255,255,255,1);
            margin-top: -158px;
            margin-right: -16px;
            right: 0;
            position:absolute;
            display: block;
            padding: 0px;
            text-align: center;
            overflow: hidden;
            font-size: 0;
            border-radius: 8px;
                .cities-list{
                      padding: 2px;
                      overflow: hidden;
                      border-radius: 6px;
                      box-shadow: 0 0 20px 0 rgba(255,255,255,0.3);
                      text-align: center;
                      white-space: nowrap;
          a{
            transform: scale(1);
            text-transform: uppercase;
            font-size: 11px;
            letter-spacing: 1px;
            margin: 6px 6px;
            padding: 25px 0 25px 0;
            font-weight: normal;
            color: rgb(38,163,135);
            width: auto;
            font-family: 'Roboto';
            border-radius: 8px;
            background-position: center center;
            background-size: cover;
            box-shadow: 0 10000px rgba(255,255,255,1) inset;
            display: none;
            float: right;
            clear: right;
            background-color: transparent;
            text-align: center;
            :hover{
              text-decoration: none;
            }
            span{
                  background: #fff;
                  color: rgb(38,163,135);
                  padding: 4px 8px 3px 8px;
                  border-radius: 6px;
                  text-transform: uppercase;
                  font-size: 11px;
                  letter-spacing: 1px;
                  font-weight: normal;
            }
          }
          .chosen-city{
            padding-left: 10px;
            height: 50px;
            border: 0;
            position: relative;
            color: rgb(38,163,135);
            font-size: 18px;
            letter-spacing: 1px;
            z-index: 1;
            background: transparent;
            box-shadow: none;
            margin:0;
          }
        }
      }