#userAbout{
	margin-top: 30px;
	h3{
		color: rgb(38,163,135);
	}
	h4{
		color:gray;
	}
	.allbtn{
		margin-bottom: 20px;
		p{
		padding-top: 3px;
		float: left;
		color:white;
		background:  rgb(38,163,135);
		width: 25% !important;
		height: 30px !important;
		text-align: center;
		margin: 10px;
		
		border:solid 1px white;
	}
		@media screen and (max-width: 766px) {
				    p{
				    	width:97%;
				    }
				}

	}
	
}