
body{
    color: #202020;
    font-weight: normal;
    font-size: 15px;
        line-height: 1.42857143;
}




@import 'header';
@import 'home';
@import 'blog-option-1';
@import 'single-blog-option-1';
@import 'footer';


