
body{
    color: #202020;
    font-weight: normal;
    font-size: 15px;
        line-height: 1.42857143;
}




@import 'header';
@import 'home';
@import 'user';
@import 'listing-detail';
@import 'listings-option-1';
@import 'listingGrid-5';
@import 'contact';
@import 'about';
@import 'footer';




// start more section
#more{
    width: 100%;
    overflow: hidden;
    .more-listing {
    position: relative;
    height: 145px;
    line-height: 120px;
    font-size: 42px;
    width: 150%;
    left: -25%;
    padding-top: 15px;
}

.more-listing {
    display: block;
    //width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 42px;
    padding-top: 3px;
    color: rgb(38,163,135);
    cursor: pointer; 
     transition-property: transform;
}.more-listing:before{
    display: inline-block;
}

i{
   transition:all .5s;}
        &:hover{
        background: #F3F3F3;
        i{
             transform:rotate(360deg);
        }
       
    }


}
//end more section----------------------------------
